* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    justify-content: center;
    height: 100vh;
}

.container div {
    padding: 10px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(26, 94, 120);
    display: grid;
    place-content: start;
    gap: 20px;
    color: white;
    font-weight: 500;
}

.main-content {
    background-color: #d6d8cf;
}

.logo {
    justify-self: start;
    font-size: 20px;
}

ul {
    font: white;
    margin-left: 15px;
}

li {
    padding: 5px;
    font-size: 1.5rem;
}

.header .row1 {
    display: flex;
    justify-content: space-between;
}

.row1 ul {
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    display: flex;
    flex: 1;

}

input {
    flex: 1;
    margin-right: 100px;
}

ul {
    list-style: none;
}
