* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    height: 100vh;
}

.container div {
    padding: 10px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(26, 94, 120);
    display: grid;
    place-content: start;
    gap: 20px;
    color: white;
    font-weight: 500;
}

.logo {
    justify-self: start;
    font-size: 20px;
}

ul {
    font: white;
    margin-left: 15px;
}

li {
    padding: 5px;
    font-size: 1.5rem;
}

.header .row1, .row2 {
    display: flex;
    justify-content: space-between;
}

.row1 ul {
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    display: flex;
    flex: 1;

}

input {
    flex: 1;
    margin-right: 100px;
}

ul {
    list-style: none;
}

.row2 .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}


.main-content {
    background-color: #d6d8cf;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content .left-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: (3, 1fr);
}